<%= render 'shared/header' %>

<!-- code for home page goes here -->

	<!-- header section -->
	<section class="header">
		<img class="img-responsive" src="/assets/training.jpg" />
		<div class="overlay"></div>
		<div id="startchange" class="container">
			<div class="row header-caption">
				<div class="col-md-6">
					<!--<h1>Time to Transform</h1>
					<p>Fitness 44 gives you access to world class <br> trainers, who will transform your physique <br> through
						a tailor made workout regimen and <br> nutrition plan</p> -->
					<h1 class="tagline">DO YOU HAVE WINGS? THEN LET'S FLY </h1>
					<a href="#contact" class="btn btn-lg btn-header">Let's Get Started</a>
				</div>
			</div>
		</div>
	</section>

	<section class="values" id="what_we_do">
		<div class="container">
			<div class="row values">
				<div class="col-md-12 header-col">
					<h1 class="value-header text-center">What We Do</h1>
				</div>
				<div class="col-md-4 value">
					<img src="/assets/dumbbell.png" class="center-block">
					<h3 class="text-center value-caption1">Personalized Training</h3>
					<p class="text-center value-caption2">Our trainers will meet with you one on one to make a tailor made workout plan that accommodates your busy schedule</p>
				</div>

				<div class="col-md-4 value">
					<img src="/assets/apple.png" class="center-block">
					<h3 class="text-center value-caption1">Dieting Expertise</h3>
					<p class="text-center value-caption2">You know that no workout is complete without a proper diet. Our trainers will help you meet your diet goals, from building muscle to fat loss.</p>
				</div>

				<div class="col-md-4 value">
					<img src="/assets/jumprope.png" class="center-block">
					<h3 class="text-center value-caption1">Group Training</h3>
					<p class="text-center value-caption2">We will hold weekly group training sessions at our facilities to keep you motivated and engaged. Our classes range from cycling to intense kickbox cardio.</p>
				</div>			
			</div>
		</div>

	</section>

	<!-- info section -->
	<section class="info">
		<div class="container">
			<h1 class="text-center info-header-text">FITNESS<span class="accent2">44</span> Teaser</h1>

			<div class="row squares">

				<div class="col-md-2 square red">

				</div>

				<div class="col-md-8 square  green">

					<iframe class="center-block" width="560" height="315" src="https://www.youtube.com/embed/stpqCRZbaRA?modestbranding=1&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>

				<div class="col-md-2 square blue">
				</div>
			</div>

			<hr>

			<div class="row eye-catching-info" id="services">
				<div class="col-md-5 eye-catcher hidden-xs">
				</div>

				 <div class="col-md-7 col-sm-12  col-xs-12 class-info">
				 	<div class="row">
				 		<div class="col-md-7">
							<h3>Dozens of Classes</h3>
							<h1 class="accent">Each Week</h1>
						</div>
				 	</div> <!-- end row -->
				 	<div class="row classes-row">
						<div class="col-md-4">
							<!-- list of classes -->
							<ul class="class-list class-col1">
								<li>1 ON 1 TRAINING</li>
								<li>MOBILE TRAINING</li>
								<li>DIET CONSULTATION</li>
								<li>FITNESS ASSESSMENT</li>
								<li>YOGA</li>
							</ul>
						</div>

						<div class="col-md-4 class-col">
							<!-- list of classes -->
							<ul class="class-list">
								<li>GROUP FITNESS</li>
								<li>CROSSFIT</li>
								<li>KICKBOXING</li>
								<li>DANCE</li>
								<li>ZUMBA</li>
							</ul>
						</div>

						<div class="col-md-4 class-col">
							<!-- list of classes -->
							<ul class="class-list">
								<li>BOOT CAMPS</li>
								<li>SPINNING</li>
								<li>MARTIAL ARTS</li>
							</ul>
						</div>
				    </div> <!-- end row -->

				    <div class="row call-to-action">
				    	<div class="col-md-7">
							<a href="#contact" class="btn btn-lg book-class-btn">Book Class Now</a>
						</div>
				    </div>
				</div>
			</div>
		</div>
	</section>

	<section class="trainers">
		<img class="img-responsive" src="/assets/crossfit.jpg" />
		<div class="overlay2"></div>
		<div class="container">
			<div class="row about-trainers">
				<div class="col-md-7">
					<h1>Our Trainers</h1>
					<h3 style="margin-top: 30px;">
						The top results-oriented Personal Trainers in the sports and fitness industry today are available at FITNESS44.  Our highly competent and enthusiastic certified personal trainers have proven track records of helping people achieve their fitness goals. We evaluate clients’ physical fitness levels in order to develop a customized workout routine to suit your unique needs. Our custom designed workout routines are practical and achievable; giving you the tools necessary to reach your intended fitness targets and maximize your results.
					</h3>
				</div>
				<div class="col-md-5">
				</div>
			</div>
		</div>
	</section>
	
	<!-- gallery section -->
	<section class="gallery">
		<div class="container">
			<h2 class="text-center gallery-header-text">Individual Training Sessions, Mobile Sessions, and Group Classes <span class="accent">Available</span></h2>

			<div class="row gallery-container center-block">
				<div class="row gallery-row">
					<div class="col-md-6 gallery-item1 item-left">
					</div>

					<div class="col-md-6 gallery-item2 item-right">
					</div>
				</div> <!-- end row -->

				<div class="row gallery-row">
					<div class="col-md-6 gallery-item3 item-left">
					</div>

					<div class="col-md-6 gallery-item4 item-right">
					</div>
				</div> <!-- end row -->

				<div class="row gallery-row">
					<div class="col-md-6 gallery-item5 item-left">
					</div>

					<div class="col-md-6 gallery-item6 item-right">
					</div>
				</div> <!-- end row -->

			</div>
		</div>
	</section>

	<section id="pricing">
		<div class="container pricing-container">
			<div class="row pricing row">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

					<!-- PRICE ITEM -->
					<div class="panel price panel-green">
						<div class="panel-heading arrow_box text-center">
							<h3>Individual Training</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:40px"><strong>$30-50</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="fa fa-clock-o" style="color: #B4B3B2;"></i> 30 minutes session-$30</li>
							<li class="list-group-item"><i class="fa fa-clock-o" style="color: #B4B3B2;"></i> 60 minutes session-$50</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> Personalized workout with a variety of exercise machines</li>
						</ul>
						<div class="panel-footer">
							<a class="btn btn-lg btn-block btn-success" href="#contact">Get Started!</a>
						</div>
					</div>
					<!-- /PRICE ITEM -->


				</div>

				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

					<!-- PRICE ITEM -->
					<div class="panel price panel-green">
						<div class="panel-heading arrow_box text-center">
							<h3>Mobile Training</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:40px"><strong>$60-80</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="fa fa-clock-o" style="color: #B4B3B2;"></i> 30 minutes session-$60</li>
							<li class="list-group-item"><i class="fa fa-clock-o" style="color: #B4B3B2;"></i> 60 minutes session-$80</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> Why leave home? we'll bring the gym to you!</li>
						</ul>
						<div class="panel-footer">
							<a class="btn btn-lg btn-block btn-success" href="#contact">Get Started!</a>
						</div>
					</div>
					<!-- /PRICE ITEM -->


				</div>

				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

					<!-- PRICE ITEM -->
					<div class="panel price panel-green">
						<div class="panel-heading arrow_box text-center">
							<h3>Group Class</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead" style="font-size:40px"><strong>$5 / class</strong></p>
						</div>
						<ul class="list-group list-group-flush text-center">
							<li class="list-group-item"><i class="fa fa-child" style="color: #B4B3B2;"></i> Variety of fun workouts</li>
							<li class="list-group-item"><i class="fa fa-fire" style="color: #B4B3B2;"></i> Burn up to 700 calories</li>
							<li class="list-group-item"><i class="icon-ok text-success"></i> Thursdays 7pm at the Cameron - Silver Spring</li>
						</ul>
						<div class="panel-footer">
							<a class="btn btn-lg btn-block btn-success" href="#contact">Get Started!</a>
						</div>
					</div>
					<!-- /PRICE ITEM -->


				</div>
			</div>
		</div>
	</section>

	<section id="contact" name="contact">
		<div class="loading_gif"></div>
		<div id="footerwrap">
			<div class="container">
				<!-- start form here -->
				<%= form_tag({controller: "static_pages", action: "send_message"}, remote: true, id: "simple_form") do %>
				<div class="col-lg-7" id="basic_mailer">
					<% if @error %>
						<p><%= @error %></p>
					<% end %>
					<h3>Drop Us A Line To Get Started</h3>
					<br>
					<form role="form" action="#" method="post" enctype="plain"> 
					  <div class="form-group">
					    <label for="name1">Your Name</label>
					    <input type="name" name="Name" class="form-control" id="name1" placeholder="Your Name" required>
					  </div>
					  <div class="form-group">
					    <label for="email1">Email address</label>
					    <input type="email" name="Mail" class="form-control" id="email1" placeholder="Enter email" required>
					  </div>
					  <div class="form-group">
					  	<label>Your Text</label>
					  	<textarea class="form-control" name="Message" rows="3" required></textarea>
					  </div>
					  <br>
					  <button type="submit" class="btn btn-large btn-success" id="mail_btn">SUBMIT</button>
					</form>
				</div>
				<% end %>
				<!-- end form here -->
				<div class="col-lg-5">
					
				</div>
			</div>
		</div>
		<div id="c">
			<div class="container">
				<p class="copyright">© 2016 <a href="#">FITNESS44, Inc.</a></p>
			
			</div>
		</div>
	</section>

	<!-- javascript code -->

	<script>
		var i = 0;
		$(document).ready(function(){       
		   var scroll_start = 0;
		   var startchange = $('#startchange');
		   var offset = startchange.offset();
		   $(document).scroll(function() { 
		      scroll_start = $(this).scrollTop();
		      if(scroll_start > offset.top) {
		          $('#navbar').css(
		          	'background-color', '#fff'
		          	);

		          $('.navbar-brand').css(
		          	'color', 'black'
		          	);
				  
				  $('.nav-link').css(
		          	'color', 'black'
		          	);

		       } else {
		          $('#navbar').css('background-color', 'transparent');

		          $('.navbar-brand').css(
		          	'color', 'white'
		          	);

		          $('.nav-link').css(
		          	'color', 'white'
		          	);
		       }
		   });
		});

	</script>

