<%= render 'shared/header' %>

<!-- code for home page goes here -->

	<!-- header section -->
	<section class="header">
		<img class="img-responsive" src="/assets/training.jpg" />
		<div class="overlay"></div>
		<div id="startchange" class="container">
			<div class="row header-caption">
				<div class="col-md-6">
					<!--<h1>Time to Transform</h1>
					<p>Fitness 44 gives you access to world class <br> trainers, who will transform your physique <br> through
						a tailor made workout regimen and <br> nutrition plan</p> -->
					<h1 class="tagline">LIVE A BETTER LIFE - RESULTS, COACHING &amp; COMMUNITY </h1>
					<btn class="btn btn-lg btn-header">Let's Get Started</div>
				</div>
			</div>
		</div>
	</section>

	<section class="values">
		<div class="container">
			<div class="row values">
				<div class="col-md-12 header-col">
					<h1 class="value-header text-center">What We Do</h1>
				</div>
				<div class="col-md-4 value">
					<img src="/assets/dumbbell.png" class="center-block">
					<h3 class="text-center value-caption1">Personalized Training</h3>
					<p class="text-center value-caption2">Our trainers will meet with you one on one to make a tailor made workout plan that accommodates your busy schedule</p>
				</div>

				<div class="col-md-4 value">
					<img src="/assets/apple.png" class="center-block">
					<h3 class="text-center value-caption1">Dieting Expertise</h3>
					<p class="text-center value-caption2">You know that no workout is complete without a proper diet. Our trainers will help you meet your diet goals, from building muscle to fat loss.</p>
				</div>

				<div class="col-md-4 value">
					<img src="/assets/jumprope.png" class="center-block">
					<h3 class="text-center value-caption1">Group Training</h3>
					<p class="text-center value-caption2">We will hold weekly group training sessions at our facilities to keep you motivated and engaged. Our classes range from cycling to intense kickbox cardio.</p>
				</div>
			</div>
		</div>

	</section>

	<!-- info section -->
	<section class="info">
		<div class="container">
			<h1 class="text-center info-header-text">What are people saying?</h1>

			<div class="row squares">

				<div class="col-md-4 square red">

				</div>

				<div class="col-md-4 square  green">
					<iframe class="center-block youtube-vid" width="360" height="270" src="https://www.youtube.com/embed/3cEiOEI1HW8?modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
				</div>

				<div class="col-md-4 square blue">
				</div>
			</div>

			<hr>

			<div class="row eye-catching-info">
				<div class="col-md-5 eye-catcher hidden-xs">
				</div>

				 <div class="col-md-7 col-sm-12  col-xs-12 class-info">
				 	<div class="row">
				 		<div class="col-md-7">
							<h3>Dozens of Classes</h3>
							<h1 class="accent">Each Week</h1>
						</div>
				 	</div> <!-- end row -->
				 	<div class="row classes-row">
						<div class="col-md-4">
							<!-- list of classes -->
							<ul class="class-list class-col1">
								<li>1 ON 1 TRAINING</li>
								<li>MOBILE TRAINING</li>
								<li>DIET CONSULTATION</li>
								<li>FITNESS ASSESSMENT</li>
								<li>YOGA</li>
							</ul>
						</div>

						<div class="col-md-4 class-col">
							<!-- list of classes -->
							<ul class="class-list">
								<li>GROUP FITNESS</li>
								<li>CROSSFIT</li>
								<li>KICKBOXING</li>
								<li>DANCE</li>
								<li>ZUMBA</li>
							</ul>
						</div>

						<div class="col-md-4 class-col">
							<!-- list of classes -->
							<ul class="class-list">
								<li>PILATES</li>
								<li>SPINNING</li>
								<li>MARTIAL ARTS</li>
							</ul>
						</div>
				    </div> <!-- end row -->

				    <div class="row call-to-action">
				    	<div class="col-md-7">
							<div class="btn btn-lg book-class-btn">Book Class Now</div>
						</div>
				    </div>
				</div>
			</div>
		</div>
	</section>

	<!--<section class="trainers">
		<img class="img-responsive" src="/assets/trainer3.png" />
		<div class="overlay2"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center">Our Trainers</h1>
				</div>
			</div>
			<div class="row trainer-text-row">
				<div class="col-md-12">
				<p class="text-center trainer-text">
				 Certified, no nonsense trainers, are the heart of Fitness 44. We want to equip you with the best resources to kickstart your fitness. Our professional personal fitness trainers can make customized exercise routines and diet plans, and monitor your fitness and keep you motivated every step of the way.
				</p>
				</div>
			</div>
		</div>
	</section>-->
	
	<!-- gallery section -->
	<section class="gallery">
		<div class="container">
			<h1 class="text-center gallery-header-text">Six Classes <span class="accent">This Week</span></h1>

			<div class="row gallery-container center-block">
				<div class="row gallery-row">
					<div class="col-md-6 gallery-item1 item-left">
					</div>

					<div class="col-md-6 gallery-item2 item-right">
					</div>
				</div> <!-- end row -->

				<div class="row gallery-row">
					<div class="col-md-6 gallery-item3 item-left">
					</div>

					<div class="col-md-6 gallery-item4 item-right">
					</div>
				</div> <!-- end row -->

				<div class="row gallery-row">
					<div class="col-md-6 gallery-item5 item-left">
					</div>

					<div class="col-md-6 gallery-item6 item-right">
					</div>
				</div> <!-- end row -->

			</div>
		</div>
	</section>

	<!-- javascript code -->

	<script>
		$(document).ready(function(){       
		   var scroll_start = 0;
		   var startchange = $('#startchange');
		   var offset = startchange.offset();
		   $(document).scroll(function() { 
		      scroll_start = $(this).scrollTop();
		      if(scroll_start > offset.top) {
		          $('#navbar').css(
		          	'background-color', '#fff'
		          	);

		          $('.navbar-brand').css(
		          	'color', 'black'
		          	);
				  
				  $('.nav-link').css(
		          	'color', 'black'
		          	);

		       } else {
		          $('#navbar').css('background-color', 'transparent');

		          $('.navbar-brand').css(
		          	'color', 'white'
		          	);

		          $('.nav-link').css(
		          	'color', 'white'
		          	);
		       }
		   });
		});
	</script>

