


$('#simple_form').trigger("reset");
$('.loading_gif').append('<div class="loader"></div>').after(function() {
	$(".loader").fadeOut(1000);
});

if (i == 0) {
   $('#basic_mailer').append('<h4 class="success_alert">Message sent successfully!</h4>');
}

i++; /* increment the counter */