
<div id= "navbar" class= "navbar abhas-nav navbar-fixed-top navbar-inverse navigation" id="nav">
	<div class = "container">
		<div class = "navbar-header">
			<a href= "" class = "navbar-brand home-link" style="color: white;">FITNESS 44</a>

			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
		</div>
		<div class = "collapse navbar-collapse navHeaderCollapse">
			<ul class = "nav navbar-nav navbar-right">
				<li class=""><a class="nav-link" href = "#what_we_do" style="color: white;">What We Do</a></li>
				<li><a class="nav-link" href = "#services" style="color: white;">Services</a></li>
				<li><a class="nav-link" href = "#pricing" style="color: white;">Pricing</a></li>
			</ul>
		</div>
	</div>
</div>

