/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */

 * {
 	font-family: arial;
 	h1, h2, h3 {
 		font-family: 'Lato',/*'sans-serif',*/ 'arial' !important;
 	}
 }

.accent {
	color: #4CAF50;
	font-weight: 600;
}

.accent2 {
	color: #4CAF50;
}

.header {
	width: 100%;
	height: 700px;
	position: relative;

	img {
		width: 100%;
		position: absolute;
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		height: 100%;
	}

	h1 {
		font-weight: 900;
		font-size: 57px;
		color: white;
	}

	p {
		font-weight: 900;
		color: white;
		font-size: 24px;
		margin-top: 4%;
		font-family: 'Lato', /*'sans-serif',*/ 'arial';
	}

	.header-caption {
		margin-top: 18%;
	}

	.btn-header {
		color: white;
		background-color: #4CAF50;
		margin-top: 7%;
	    border-radius: 3px;
	    font-size: 23px;
	    font-family: 'Lato', 'sans-serif';
	    font-weight: 400;
		padding: 12px;

	}

	.overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.3);

	}

}

.info {
	color: #000000;
	overflow: hidden;
	width: 100%;
	position: relative;
	background-color: #FFFFFF;
	
	/* drop shadow on bottom border of section */

	-webkit-box-shadow: 0 8px 6px -6px #999;
	       -moz-box-shadow: 0 8px 6px -6px #999;
	            box-shadow: 0 8px 6px -6px #999;
	    border: transparent;

	.info-header-text {
		margin-top: 4%;
		margin-bottom: 4%;
	}

	.squares {
		margin-top: 3%;
		/*margin-left: 11%;*/
		margin-bottom: 4%;
		 
	}

	.square {
		/*margin-left: 6%;*/
		margin-bottom: 3%;
		border-radius: 4px;
		border: transparent;
	}

	.youtube-vid {
		border-radius: 4px;
		border: transparent;
	}

	.eye-catcher {

		background: url("/assets/fit_chick.png");
		bottom: 0;
		height: 500px;
		position: absolute;
		left: -170px;
		width: 700px;
		float: left; 
		
		/*background-color: #4CAF50;
		height: 345px;
		border-radius: 10px; */
	}

	.class-info {
		float: right;
		clear: left;
	}


	.eye-catching-info {
		h1, h2, h3 {
			margin-left: 10%;
		}

		h1 {
			font-size: 40px;
		}

		h3 {
			font-size: 25px;
		}

		margin-bottom: 7%;

		margin-top: 4%;
	}
	
	.classes-row {
		margin-top: 3%;
	}

	.class-list {
		list-style: none;
		color: #000000;

		li {
			font-size: 12px;
			margin-bottom: 5px;
			padding: 1.5px;
		}
	}

	.book-class-btn {
		background-color: #4caf50;
		margin-left: 8%;
		margin-top: 7%;
		border-radius: 4px;
		padding: 17px;
		width: 200px;
		color: #fff;
		
	}
}


.gallery {
	width: 100%;
	position: relative;
	overflow: hidden;
	/*background-color: lightgray;*/
	background: url("/assets/pattern.png");
	background-size: cover;

	.gallery-header-text {
		margin-top: 6%;
		color: white;
	}

	.gallery-item1 {
		width: 300px;
		height: 170px;
		/*background-color: #4CAF50;*/
		background: url("/assets/yoga.jpg");
		background-size: cover;
		margin-top: 4%;
		margin-left: 5%;
		border-radius: 5px;
	}

	.gallery-item2 {
		width: 300px;
		height: 170px;
		/*background-color: #4CAF50;*/
		background: url("/assets/strength.jpg");
		background-size: cover;
		margin-top: 4%;
		margin-left: 5%;
		border-radius: 5px;
	}

	.gallery-item3 {
		width: 300px;
		height: 170px;
		/*background-color: #4CAF50;*/
		background: url("/assets/plyometrics.jpg");
		background-size: cover;
		margin-top: 4%;
		margin-left: 5%;
		border-radius: 5px;
	}

	.gallery-item4 {
		width: 300px;
		height: 170px;
		/*background-color: #4CAF50;*/
		background: url("/assets/kickbox.jpg");
		background-size: cover;
		margin-top: 4%;
		margin-left: 5%;
		border-radius: 5px;
	}

	.gallery-item5 {
		width: 300px;
		height: 170px;
		/*background-color: #4CAF50;*/
		background: url("/assets/kettle-bell.jpg");
		background-size: cover;
		margin-top: 4%;
		margin-left: 5%;
		border-radius: 5px;
	}

	.gallery-item6 {
		width: 300px;
		height: 170px;
		/*background-color: #4CAF50;*/
		background: url("/assets/groupclass.jpg");
		background-size: cover;
		margin-top: 4%;
		margin-left: 5%;
		border-radius: 5px;
	}



	.gallery-container {
		width: 700px;
		margin-bottom: 5%;
	}

}

.trainers {
	
	
	width: 100%;
	overflow: hidden;
	position: relative;
	background-color: #343434;
	/*background: url("/assets/trainer3.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
	height: 630px;

	
	.huwey {
		background: url('/assets/huwey2.jpg');
		background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
		height: 630px;
	}

	.trainer-container {
		
	}


	/*.overlay2 {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.4);
	}*/

	.about-trainers {
		
		
	}

	h1 {
		font-weight: 700;
		color: white;
		font-size: 53px;
	}

	h3 {
		color: white;
		font-family: "Raleway" !important;
		line-height: 170%;
	}

	.trainer-text {
		font-weight: 400;
		color: white;
	}

	.text-trainer {

	}

}

.values {
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: lightgray;

	h1 {
		font-family: 'Lato', 'sans-serif';
		font-weight: 700;
		font-size: 50px;
	}

	img {
		height: 160px;
		width: 160px;
	}

	.header-col {
		margin-top: 3%;
	}

	.value {
		margin-top: 3%;
		margin-bottom: 4%;
	}

	h3 {
		margin-top: 7%;
		margin-bottom: 6%;
		font-weight: 700;
	}

	p {
		font-family: 'Lato', 'sans-serif';
		font-weight: 400;
		font-size: 17px;
	}

}


/* some code for the navbar */
.navbar {
	padding: 13px;
	background: transparent;
	border: transparent;
	li {
		a {
			font-family: 'Lato', 'sans-serif';
			font-weight: 700;
			font-size: 20px;
		}
	}
}

.navbar-brand {
	   font-family: 'Lato', sans-serif;
	   font-weight: 700;
	   font-size: 40px;
}

#contact {
	
	a {
	    color: #4CAF50;
	    word-wrap: break-word;
	    font-family: "Raleway";

	    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
	    transition: color 0.1s ease-in, background 0.1s ease-in;
	}

	a:hover,
	a:focus {
	    color: #c0392b;
	    text-decoration: none;
	    outline: 0;
	}

	a:before,
	a:after {
	    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
	    transition: color 0.1s ease-in, background 0.1s ease-in;
	}

    #footerwrap {
		background-color: #2f2f2f;
		color: white;
		padding-top: 40px;
		padding-bottom: 60px;
		text-align: left;
	}

	#footerwrap h3 {
		font-size: 28px;
		color: white;
	}

	#footerwrap p {
		color: white;
		font-size: 18px;
	}

	/* Copyright Wrap */

	#c {
		background: #222222;
		padding-top: 15px;
		text-align: right;
	}

	#c p {
		color: white
	}	

}

.copyright {
	margin: 15px;
}

.success_alert {
	margin-top: 3%;
	color: black;
	background-color: white;
	border: 5px solid green;
	padding: 3px;
}

/* styling for loading gif */
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/assets/loader2.gif') 50% 50% no-repeat rgb(249,249,249);
}

#pricing {
	background-color: lightgray;
}
/* styling for pricing */
/* COMMON PRICING STYLES */
		.panel.price,
		.panel.price>.panel-heading{
			border-radius:0px;
			 -moz-transition: all .3s ease;
			-o-transition:  all .3s ease;
			-webkit-transition:  all .3s ease;
		}
		.panel.price:hover{
			box-shadow: 0px 0px 30px rgba(0,0,0, .2);
		}
		.panel.price:hover>.panel-heading{
			box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
		}
		
				
		.panel.price>.panel-heading{
			box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
			text-shadow:0px 3px 0px rgba(50,50,50, .6);
		}
			
		.price .list-group-item{
			border-bottom-:1px solid rgba(250,250,250, .5);
		}
		
		.panel.price .list-group-item:last-child {
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
		}
		.panel.price .list-group-item:first-child {
			border-top-right-radius: 0px;
			border-top-left-radius: 0px;
		}
		
		.price .panel-footer {
			color: #fff;
			border-bottom:0px;
			background-color:  rgba(0,0,0, .1);
			box-shadow: 0px 3px 0px rgba(0,0,0, .3);
		}
		
		
		.panel.price .btn{
			box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
			border:0px;
		}
		
	/* green panel */
	
		
		.price.panel-green>.panel-heading {
			color: #fff;
			background-color: #57AC57;
			border-color: #71DF71;
			border-bottom: 1px solid #71DF71;
		}
		
			
		.price.panel-green>.panel-body {
			color: #fff;
			background-color: #65C965;
		}
				
		
		.price.panel-green>.panel-body .lead{
				text-shadow: 0px 3px 0px rgba(50,50,50, .3);
		}
		
		.price.panel-green .list-group-item {
			color: #333;
			background-color: rgba(50,50,50, .01);
			font-weight:600;
			text-shadow: 0px 1px 0px rgba(250,250,250, .75);
		}
		
		/* blue panel */
	
		
		.price.panel-blue>.panel-heading {
			color: #fff;
			background-color: #608BB4;
			border-color: #78AEE1;
			border-bottom: 1px solid #78AEE1;
		}
		
			
		.price.panel-blue>.panel-body {
			color: #fff;
			background-color: #73A3D4;
		}
				
		
		.price.panel-blue>.panel-body .lead{
				text-shadow: 0px 3px 0px rgba(50,50,50, .3);
		}
		
		.price.panel-blue .list-group-item {
			color: #333;
			background-color: rgba(50,50,50, .01);
			font-weight:600;
			text-shadow: 0px 1px 0px rgba(250,250,250, .75);
		}
		
		/* red price */
		
	
		.price.panel-red>.panel-heading {
			color: #fff;
			background-color: #D04E50;
			border-color: #FF6062;
			border-bottom: 1px solid #FF6062;
		}
		
			
		.price.panel-red>.panel-body {
			color: #fff;
			background-color: #EF5A5C;
		}
		
		
		
		
		.price.panel-red>.panel-body .lead{
				text-shadow: 0px 3px 0px rgba(50,50,50, .3);
		}
		
		.price.panel-red .list-group-item {
			color: #333;
			background-color: rgba(50,50,50, .01);
			font-weight:600;
			text-shadow: 0px 1px 0px rgba(250,250,250, .75);
		}
		
		/* grey price */
		
	
		.price.panel-grey>.panel-heading {
			color: #fff;
			background-color: #6D6D6D;
			border-color: #B7B7B7;
			border-bottom: 1px solid #B7B7B7;
		}
		
			
		.price.panel-grey>.panel-body {
			color: #fff;
			background-color: #808080;
		}
		

		
		.price.panel-grey>.panel-body .lead{
				text-shadow: 0px 3px 0px rgba(50,50,50, .3);
		}
		
		.price.panel-grey .list-group-item {
			color: #333;
			background-color: rgba(50,50,50, .01);
			font-weight:600;
			text-shadow: 0px 1px 0px rgba(250,250,250, .75);
		}
		
		/* white price */
		
	
		.price.panel-white>.panel-heading {
			color: #333;
			background-color: #f9f9f9;
			border-color: #ccc;
			border-bottom: 1px solid #ccc;
			text-shadow: 0px 2px 0px rgba(250,250,250, .7);
		}
		
		.panel.panel-white.price:hover>.panel-heading{
			box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
		}
			
		.price.panel-white>.panel-body {
			color: #fff;
			background-color: #dfdfdf;
		}
				
		.price.panel-white>.panel-body .lead{
				text-shadow: 0px 2px 0px rgba(250,250,250, .8);
				color:#666;
		}
		
		.price:hover.panel-white>.panel-body .lead{
				text-shadow: 0px 2px 0px rgba(250,250,250, .9);
				color:#333;
		}
		
		.price.panel-white .list-group-item {
			color: #333;
			background-color: rgba(50,50,50, .01);
			font-weight:600;
			text-shadow: 0px 1px 0px rgba(250,250,250, .75);
		}

		.pricing-container {
			padding:70px; 
		}
